@import "colors.scss";

.bar-container {
    background-color: $background;
    color: $foreground;
}

.menu-trigger {
    color: $primary;
}

// Configuración Global
* {
    all: unset; // Reset total
    font-family: "JetBrainsMono Nerd Font";
}

// Estilos de la Barra Principal
.bar {
    background-color: rgba($background, 0.8);
    color: $foreground;
    padding: 10px;
}

.menu-trigger {
    color: $primary;
    font-weight: bold;
    padding-left: 10px;
}

.workspaces button:hover {
    color: $accent;
}

// Sidebar (Menú Desplegable)
.sidebar-container {
    background-color: rgba($background, 0.7);
    border-radius: 0px 10px 10px 0px;
    padding: 20px;
    border: 2px solid $primary;

    button {
        background-color: rgba($primary, 0.1);
        color: $foreground;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 5px;

        &:hover {
            background-color: $primary;
            color: $background;
        }
    }
}

.sidebar-title {
    color: $accent;
    font-weight: bold;
    margin-bottom: 10px;
}

// Métricas (RAM, CPU, etc.)
.metric scale trough {
    background-color: rgba($foreground, 0.1);
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;

    highlight {
        background-color: $accent;
        border-radius: 10px;
    }
}

.label-ram {
    font-size: large;
    color: $primary;
}
