* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#window {
    background-color: #fff8f7;
    border: 2px solid #904a41;
    border-radius: 12px;
    color: #231918;
}

#input {
    background-color: #f5ddda;
    color: #231918;
    border: 1px solid #904a41;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
}

#entry {
    padding: 8px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #904a41;
    color: #ffffff;
}
