* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#window {
    background-color: #151406;
    border: 2px solid #dcc800;
    border-radius: 12px;
    color: #e9e3cb;
}

#input {
    background-color: #4a4736;
    color: #e9e3cb;
    border: 1px solid #dcc800;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
}

#entry {
    padding: 8px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #dcc800;
    color: #373100;
}
